@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Inter", sans-serif;
  color: #242424;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.75rem;
  font-weight: bold;
}

p {
  font-size: 1.25rem;
}

a {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
}

::selection {
  background-color: #198AE5;
  color: white;
}

.title-section {
  max-width: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

.title-section-bgblue {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.title-center-bgblue {
  max-width: 60rem;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.text-white {
  color: white;
}

.text-blue {
  color: #198AE5;
}

.zoom-image {
  transition: transform 0.5s ease;
}
.zoom-image:hover {
  transform: scale(1.15);
}

.limite {
  overflow: hidden;
  border-radius: 16px;
}

.size-image-gallery {
  transition: transform 0.5s ease;
}
.size-image-gallery:hover {
  transform: scale(1.2);
}

.description-metricas {
  transition: transform 0.4s ease;
}
.description-metricas:hover {
  transform: rotate(8deg);
}

.boton-blue {
  background-color: #198AE5;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  border: 1px solid #198AE5;
  transition: background-color 0.5s ease, color 0.2s ease, border 0.2s ease;
}
.boton-blue:hover {
  background-color: #EAF3FE;
  color: #198AE5;
  border: 1px solid #198AE5;
}
.boton-blue:active {
  background-color: #0A539A;
  color: white;
  border: 1px solid #0A539A;
}

.boton-outline {
  background-color: white;
  color: #198AE5;
  padding: 0.75rem 1.5rem;
  border: 2px solid #198AE5;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.5s ease, color 0.2s ease, border 0.2s ease;
}
.boton-outline:hover {
  background-color: #198AE5;
  color: white;
}
.boton-outline:active {
  background-color: #0A539A;
  color: white;
  border: 1px solid #0A539A;
}

.boton-white {
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: white;
  color: #198AE5;
  transition: transform 0.5s ease, box-shadow 0.2s ease, background-color 0.5s ease, color 0.2s ease;
}
.boton-white:hover {
  transform: rotate(-4deg);
  box-shadow: 2px 2px 4px #0A539A;
}
.boton-white:active {
  background-color: #0A539A;
  color: white;
  box-shadow: 0px 0px 0px #198AE5;
}

.link-button {
  color: #198AE5;
  transition: transform 0.5s ease, color 0.2s ease;
}
.link-button:hover {
  transform: translateY(-4px);
  text-decoration: underline;
}
.link-button:active {
  color: #0A539A;
}

.video-hero {
  height: 100%;
  aspect-ratio: 16/9;
}

.description-caja-comentarios img {
  margin-bottom: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-bottom: 1.5rem;
}

.img-hero-services {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
}

main section ul li {
  font-size: 1.25rem;
  list-style-type: disc;
  list-style-position: outside;
  list-style-image: url(../img/check_circle.png);
}

.caja-text-hero {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  max-width: 37.5rem;
  gap: 16px;
}

.caja-article-services {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 32px;
}

.descripcion-caja-services {
  max-width: 22rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}

.caja-comentarios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 64px;
}

.description-caja-comentarios {
  max-width: 32rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}
.description-caja-comentarios > p:first-of-type {
  font-weight: bold;
  color: #198AE5;
  font-size: 1.25rem;
}

.caja-metricas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  text-align: center;
}

.description-metricas {
  width: 16rem;
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  background-color: #EAF3FE;
  border: 1px solid #198AE5;
  border-radius: 16px;
  padding: 0px 8px;
}
.description-metricas:hover {
  background-color: #198AE5;
  color: white;
}
.description-metricas:hover .text-blue {
  color: white;
}

.contenido-justify {
  max-width: 50rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}

.list-justify {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}

.precios {
  font-size: 1.25rem;
  font-weight: bold;
}

.caja-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 64px;
}

.caja-article {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card-article {
  max-width: 68rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: #EAF3FE;
  border: 1px solid #198AE5;
  border-radius: 16px;
  margin-bottom: 8px;
}

.text-article {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0px 48px;
}

main section form {
  width: 50rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #242424;
}

.caja-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 16px;
  gap: 8px;
}
.caja-form input,
.caja-form select,
.caja-form textarea {
  font-size: 1.25rem;
  max-width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.submit {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #198AE5;
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  border: 1px solid #198AE5;
}
.submit:hover {
  background-color: #EAF3FE;
  border: 1px solid #198AE5;
  color: #198AE5;
}
.submit:active {
  background-color: #0A539A;
  color: white;
  border: 1px solid #0A539A;
}

.logo {
  min-height: 1.5rem;
}

.nav-link:hover {
  font-weight: bold;
  color: #198AE5;
}

.nav-link:active {
  font-weight: bold;
  color: #0A539A;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  padding: 5rem 2rem;
  color: white;
  background-color: #198AE5;
}

.hero-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding: 5rem 2rem;
  color: white;
  background-color: #198AE5;
}

.hero-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding: 5rem 2rem;
  color: white;
  background-color: #198AE5;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 5rem 2rem;
}

.section-comentarios {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 0 6rem 4rem;
  gap: 24px;
}

.reservar-cita {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #198AE5;
  gap: 16px;
  padding: 5rem 2rem;
}

.section-history {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding: 5rem 2rem;
}

.section-metricas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding: 0 6rem 4rem;
}

.section-instalaciones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding: 0 6rem 4rem;
}

.section-gallery {
  display: flex;
  align-items: center;
  width: 60rem;
  flex-direction: column;
  gap: 24px;
}

.servicio-justify {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 64px;
  padding: 5rem 4rem 0;
}

.bottom {
  padding-bottom: 5rem;
}

.section-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding: 5rem 2rem;
}

.section-blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding: 5rem 2rem;
}

.map-size {
  width: 32rem;
  height: 28rem;
  border-radius: 16px;
}

.info-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
}

.address::before {
  content: "📍";
  font-size: 2rem;
}

.phone::before {
  content: "📲";
  font-size: 2rem;
}

.time::before {
  content: "⌛";
  font-size: 2rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 16px;
  padding: 4.5rem 1.5rem 2.5rem;
  background-color: #EBEBEB;
}
footer .logo {
  margin-bottom: 1rem;
}
footer nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}
footer nav ul li a {
  color: #242424;
  font-weight: bold;
  transition: color 0.3s ease;
}
footer nav ul li a:hover {
  color: #198AE5;
}
footer nav ul li a:active {
  color: #0A539A;
}

@media (max-width: 500px) {
  html {
    font-size: 90%;
  }
  .hero,
  .reservar-cita,
  .services,
  .section-history,
  .hero-servicios,
  .hero-contacto,
  .section-blog {
    padding: 4rem 2.5rem;
  }
  .section-metricas,
  .section-instalaciones,
  .imagen-history,
  .size-image-gallery,
  .description-metricas,
  main section form {
    width: 100%;
  }
  .section-comentarios {
    padding: 0px 4rem 2.5rem;
  }
  .section-metricas {
    padding: 0px 4rem 2.5rem;
  }
  .section-instalaciones {
    padding: 1.5rem 4rem 2.5rem;
  }
  .caja-metricas,
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .size-boton {
    width: 100%;
    text-align: center;
  }
  .img-hero-services {
    grid-template-columns: repeat(2, 1fr);
  }
  .servicio-justify {
    padding: 4rem 2.5rem 0px;
  }
  .bottom {
    padding-bottom: 4rem;
  }
  .inverse {
    flex-wrap: wrap-reverse;
  }
  .map-size {
    width: 100%;
  }
  .info-details {
    align-items: center;
    gap: 16px;
  }
  .card-article {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
  }
  .card-article .text-article {
    padding: 0;
  }
  .size-small-image {
    width: 100%;
    border-radius: 0px 16px 16px 0px;
  }
  .align-button {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
