

@use "base/reset";
@use "base/tipografias";
@use "base/estilos-generales";
@use "base/animations";

@use "components/botones";
@use "components/galeria";
@use "components/cajas-generales";
@use "components/forms";

@use "layout/header";
@use "layout/navbar";
@use "layout/principal";
@use "layout/sections";
@use "layout/contact";
@use "layout/footer";
@use "layout/mediaqueries";


