@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.map-size{
    width: 32rem;
    height: 28rem;
    border-radius: $radius-md;
}

.info-details{
    @include flex-base(center, flex-start);
    flex-direction: column;
    gap: $space-md;
}

.address::before{
    content: "📍";
    font-size: 2rem;
}

.phone::before{
    content: "📲";
    font-size: 2rem;
}

.time::before{
    content: "⌛";
    font-size: 2rem;
}