@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

footer {
    @include flex-base(center, center);
    flex-direction: column;
    text-align: center;
    gap: $space-sm;

    padding: 4.5rem 1.5rem 2.5rem;
    background-color: $color-bg-footer;

    .logo{
            margin-bottom: 1rem;
        }

    nav{

        ul{
            list-style: none;
            @include flex-base(center, null);
            flex-wrap: wrap;
            gap: $space-lg;

            li{
                a{
                    color: $color-text;
                    font-weight: $font-weight-bold;

                    transition: color 0.3s ease;

                    &:hover{
                        color: $color-main;
                    }

                    &:active{
                        color: $color-active;
                    }
                }

            }
        }
    }

}