@use "../utilities/variables" as *;

@media (max-width: 500px) {

    html{
        font-size: 90%;
    }

    .hero, 
    .reservar-cita, 
    .services, 
    .section-history, 
    .hero-servicios, 
    .hero-contacto,
    .section-blog{
        padding: $v-mq-padding $h-mq-padding;
    }

    .section-metricas,
    .section-instalaciones,
    .imagen-history,
    .size-image-gallery,
    .description-metricas,
    main section form{
        width: 100%;
    }

    .section-comentarios{
        padding: 0px $v-mq-padding $h-mq-padding;
    }

    .section-metricas{
        padding: 0px $v-mq-padding $h-mq-padding;
    }

    .section-instalaciones{
        padding: 1.5rem $v-mq-padding $h-mq-padding;
    }
    

    .caja-metricas,
    .grid{
        grid-template-columns: repeat(1,1fr);
    }

    .size-boton{
        width: 100%;
        text-align: center;
    }

    .img-hero-services{
        grid-template-columns: repeat(2,1fr);
    }

    .servicio-justify{
        padding: $v-mq-padding $h-mq-padding 0px;
    }

    .bottom{
        padding-bottom: $v-mq-padding;
    }

    .inverse{
        flex-wrap: wrap-reverse;
    }

    .map-size{
        width: 100%;
    }

    .info-details{
        align-items: center;
        gap: $space-sm;
    }

    .card-article{
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;

        .text-article{
            padding: 0;
        }
    }

    .size-small-image{
        width: 100%;
        border-radius: 0px 16px 16px 0px;
    }

    .align-button{
        text-align: center;
    }

}