@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;


//Hero general

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $space-lg;
    padding: 96px 64px;
    color: $color-bg-canvas;
    background-color: $color-main;
}

//Hero servicios

.hero-servicios{
    @include flex-base(center, center);
    flex-direction: column;
    gap: $space-md;
    padding: 96px 64px;
    color: $color-bg-canvas;
    background-color: $color-main;
}

//Hero contacto

.hero-contacto{
    @include flex-base(center, center);
    flex-direction: column;
    gap: $space-md;
    padding: 96px 64px;
    color: $color-bg-canvas;
    background-color: $color-main;
}