@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.services{
    @include flex-base(center, center);
    flex-direction: column;
    gap: $space-sm;
    padding: $v-section-padding $h-section-padding;
}

.section-comentarios{
    @include flex-base(start, center);
    flex-direction: column;
    padding: 0 6rem 4rem;
    gap: $space-md;
}

.reservar-cita{
    @include flex-base(center, center);
    flex-direction: column;
    background-color: $color-main;
    gap: $space-sm;
    padding: $v-section-padding $h-section-padding;
}

.section-history{
    @include flex-base(center, center);
    flex-direction: column;
    gap: $space-md;
    padding: $v-section-padding $h-section-padding;
}

.section-metricas{
    @include flex-base(center, center);
    flex-direction: column;
    gap: $space-md;
    padding: 0 6rem 4rem;
}

.section-instalaciones{
    @include flex-base(center, center);
    flex-direction: column;
    gap: $space-md;
    padding: 0 6rem 4rem;
}

.section-gallery{
    @include flex-base(null, center);
    width: 60rem;
    flex-direction: column;
    gap: $space-md;
}

.servicio-justify{
    @include flex-base(center, center);
    flex-wrap: wrap;
    gap: $space-xl;
    padding: 5rem 4rem 0;
}

.bottom{
    padding-bottom: 5rem;
}

.section-details{
    @include flex-base(center, center);
    flex-direction: column;
    gap: $space-md;
    padding: $v-section-padding $h-section-padding;
}

.section-blog{
    @include flex-base(center, center);
    flex-direction: column;
    gap: $space-md;
    padding: $v-section-padding $h-section-padding;
}