@use "../utilities/variables" as *;

// Primario

.boton-blue{
    background-color: $color-main;
    color: $color-bg-canvas;
    padding: $v-button-padding $h-button-padding;
    border-radius: $radius-sm;
    border: 1px solid $color-main;

    transition: background-color 0.5s ease,
                color 0.2s ease,
                border 0.2s ease;

    &:hover{
        background-color: $color-bg-cards;
        color: $color-main;
        border: 1px solid $color-main;
    }

    &:active{
        background-color: $color-active;
        color: $color-bg-canvas;
        border: 1px solid $color-active;
    }
}

// Secundario

.boton-outline{
    background-color: $color-bg-canvas;
    color: $color-main;
    padding: $v-button-padding $h-button-padding;
    border: 2px solid $color-main;
    border-radius: $radius-sm;
    font-weight: $font-weight-bold;

    transition: background-color 0.5s ease,
                color 0.2s ease,
                border 0.2s ease;

    &:hover{
        background-color: $color-main;
        color: $color-bg-canvas;
    }

    &:active{
        background-color: $color-active;
        color: $color-bg-canvas;
        border: 1px solid $color-active;
    }
}

// Terciario

.boton-white{
    padding: $v-button-padding $h-button-padding;
    border-radius: $radius-sm;
    background-color: $color-bg-canvas;
    color: $color-main;

    transition: transform 0.5s ease,
                box-shadow 0.2s ease,
                background-color 0.5s ease,
                color 0.2s ease;

    &:hover{
        transform: rotate(-4deg);
        box-shadow: 2px 2px 4px $color-active;
    }

    &:active{
        background-color: $color-active;
        color: $color-bg-canvas;
        box-shadow: 0px 0px 0px $color-main;
    }

}

// Text button

.link-button{
    color: $color-main;

    transition: transform 0.5s ease,
                color 0.2s ease;

    &:hover{
        transform: translateY(-4px);
        text-decoration: underline;
    }

    &:active{
        color: $color-active;
    }
}