@use "../utilities/variables" as *;

main section form {
    width: 50rem;
    font-size: $font-size-text;
    font-weight: $font-weight-bold;
    color: $color-text;
}

.caja-form{
    background-color: $color-bg-canvas;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: $radius-md;
    gap: $space-xs;

    input,
    select,
    textarea{
        font-size: $font-size-text;
        max-width: 100%;
        padding: $v-input-padding $h-input-padding;
        margin-bottom: 1rem;
    }
}

.submit {
    color: $color-bg-canvas;
    font-size: $font-size-text;
    font-weight: $font-weight-bold;
    background-color: $color-main;
    border-radius: $radius-sm;
    padding: $v-button-padding $h-button-padding;
    border: 1px solid $color-main;

    &:hover{
        background-color: $color-bg-cards;
        border: 1px solid $color-main;
        color: $color-main;
    }

    &:active{
        background-color: $color-active;
        color: $color-bg-canvas;
        border: 1px solid $color-active;
    }
}

